@{
    ViewData["Title"] = "Home Page";
}
<tree-component inline-template command="list">
    <section class="row">
        <div v-for="record in records" class="col-md-2">         
                <h3>{{ record.name }}</h3>
               
                <a :href="'/tree/update/' + record._id">Edit tree settings</a>
                <span v-on:click="remove(record)">Delete</span>
        </div>    
    </section>
</tree-component>

<div><a href="/tree/create">Plant new tree</a></div>