
@{
    ViewData["Title"] = "Create";
}
<tree-component inline-template command="CREATE">
    <section class="row">
        <div class="col-md-12">
            <partial name="_Form.cshtml" />
        </div>
        <div>
            <input type="button" class="ui-button submit" value="Create new" v-on:click="create(record)" />
        </div>
    </section>
</tree-component>
