@model Document
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Document> FirtLevelDocs = ViewBag.ChildDocs;
}

<section class="row">
    <input type="hidden" value="@ViewBag.SiteID" id="site-id" />
    <div id="jtable-document"></div>
    <div class="col-md-4 side-bar" id="DocumentTree">

    </div>
    <div class="col-md-8 content-area" id="DocumentForm">

    </div>
    
</section>

